<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Тізімдер</title>
    <link rel="stylesheet" th:href = "@{/css/bootstrap.min.css}" />
</head>

<body>

<div class="container">
    <div class="row">
        <a th:href = "@{/zhurnal/add}" class="btn btn-primary btn-lg" role="button">add</a>
        <br/>
        <table class="table">
            <tr>
                <th>Familia</th>
                <th>Imia</th>
                <th>baga</th>
            </tr>
            <tr th:each = "zhurnal : ${zhurnals}">
                <td th:text = "${zhurnal.familia}"></td>
                <td th:text = "${zhurnal.imia}"></td>
                <td th:text = "${zhurnal.baga}"></td>
                <td> <a th:href = "@{'/zhurnal/deleteContact?id='+${zhurnal.id}}">delete</a></td>
                <td> <a th:href = "@{'/zhurnal/update?id='+${zhurnal.id}}">update</a></td>

            </tr>
        </table>
    </div>
</div>

<script th:src = "@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>

</body>
</html>